[Desktop Entry]
Type=Application
Name=wayste Kiosk
Comment=AI waste sorting kiosk application
Exec=/home/pi/start-kiosk.sh
X-GNOME-Autostart-enabled=true
